body{
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin:0;
}

/* Center container */
.container{
    width:400px;
    margin:100px auto;
    background:white;
    padding:30px;
    border-radius:8px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
}

/* Inputs */
input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

/* Buttons */
button{
    width:100%;
    padding:10px;
    background:#4CAF50;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#45a049;
}

/* Dashboard layout */

.navbar{
    background:#333;
    padding:15px;
    color:white;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.dashboard{
    width:80%;
    margin:auto;
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center;
    align-items:stretch;
    gap:30px;
    margin-top:40px;
}

.card{
    width:260px;
    padding:30px;
    border-radius:12px;
    text-align:center;
    background:white;
    box-shadow:0 8px 18px rgba(0,0,0,0.12);
    transition:0.2s;
}

.card:hover{
    transform:translateY(-6px);
}

.card h3{
    color:#555;
    margin-bottom:10px;
}

.card p{
    font-size:30px;
    font-weight:bold;
}

.income{
    border-top:6px solid #4CAF50;
}

.expense{
    border-top:6px solid #f44336;
}

.balance{
    border-top:6px solid #2196F3;
}

.btn{
display:inline-block;
padding:10px 20px;
background:black;
color:white;
text-decoration:none;
margin:10px;
}

table{
width:80%;
margin:auto;
border-collapse:collapse;
}

th,td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}



.chart-section {
    width: 100%;
    margin: 40px 0;
    text-align: center;
}

/* FIXED CARD */
.chart-box {
    width: 400px;
    height: 320px;   /* slightly more height */
    margin: 0 auto;
    background: #fff;
    padding: 15px;   /* 🔥 reduce padding */
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;  /* 🔥 IMPORTANT */
}

/* FORCE CANVAS TO FIT PERFECTLY */
.chart-box canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.chart-box h3 {
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    .charts {
        flex-wrap: wrap;
    }

    .chart-box {
        width: 100%;
    }
}